body {
    background-color: cornflowerblue;
}
.container {
    background-color: aqua;
    margin: 4px;
    text-align: center;
  
}

.converter-row {
    margin: 2px;
    padding: 2px;
}